@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Real_Estate.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}
@inject SignInManager<ApplicationUser> _signInManager
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    @*    <link href="~/css/site.css" rel="stylesheet" />*@
    <!--Stylesheet-->

</head>
<h1>Appointment</h1>
<form class="searchbar" method="get" asp-action="Index">
    <div class="form-group1" style="display:flex;align-items: flex-end; ">
        <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <button type="submit" style="padding:10px; margin-left:10px;"><i class="fa fa-search"></i></button>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofAppointment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofAppointment)
            </td>
                <td>
                    @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
